.bannerContainer {
  background-color: var(--color-light--2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  margin-top: 2rem;
  gap: 4rem;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  width: 32px;
}
