.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100wh;
  height: 100vh;
  position: relative;
}

.heroContainer {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brand--1);
  color: #fff;
  border-radius: 100px;
  width: 24rem;
  height: 6rem;
  font-size: 2rem;
  font-weight: 500;
}

.slideshowSlider {
  white-space: nowrap;
  transition: transform 0.5s ease-in-out; /* Daha pürüzsüz geçiş */
  position: relative;
  height: 100%;
}

.slide {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}

.title {
  font-size: 8rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-wrap: nowrap;
}

@media screen and (max-width: 720px) {
  .title {
    font-size: 5.5rem;
  }

  .btn {
    width: 16rem;
    height: 5rem;
    font-size: 1.5rem;
  }
}
